nohup*
*.nc
*.Rdata
*.Rproj
.Rdata
.RData
*.RData
.Rhistory
*.tmp
*.log
graphics
*.txt
*.pdf
*.png
*.html
macaloca_scan_and_check_pr.ncl
macaloca_scan_and_check_tasmax.ncl
macaloca_scan_and_check_tasmin.ncl
!mask.nc
output
.Rproj.user
LOCA_GROWING_ZONES_MAP.gif
*.gif
